<div class="col-lg-12">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Heading</div>
      <div class="panel-body">
        <ngx-numeric-datetime-picker #ngxNumericDateTimePicker="ngx-numeric-datetime-picker"
                                     [options]="ngxNumericDateTimePickerOption"
                                     (select-date)="getDate($event)" >
        </ngx-numeric-datetime-picker>
      </div>
      <div class="panel-footer">
        <button class="btn btn-danger" (click)="clearNumericSelection()">
          Clear
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Heading</div>
      <div class="panel-body">
        <ngx-datetime-picker #ngxDateTimePicker="ngx-bootstrap-datetime-picker"
                             (select-time)="getDate($event)">
        </ngx-datetime-picker>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" (click)="clearSelection()">
          Clear
        </button>

        <button class="btn btn-info"
                (click)="setToday()">
          Today
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Heading</div>
      <div class="panel-body">
        <ngx-time-selector (click-confirm)="clickConfirm($event)"></ngx-time-selector>
      </div>

    </div>
  </div>

</div>



