<div #dropDownControl
     class="dropdown">
  <div class="input-group dropdown-toggle"
       data-toggle="dropdown">
    <div class="form-control">
      <span *ngIf="selection != null">{{ format(selection) }}</span>
    </div>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <div class="calendar dropdown-menu"
       [ngSwitch]="calendarSelectionMode"
       (click)="clickDropDownMenu($event)">

    <!--Year selection-->
    <ngx-year-selector *ngSwitchCase="CalendarSelectionMode.year"
                       [initial]="date"
                       [selected]="selection"
                       [years-range]="years"
                       [selection-range]="options.yearSelectionRange"
                       [years-on-row]="options.yearsPerRow"
                       (select-year)="clickYear($event)"
                       (update-range)="updateYears($event)">
    </ngx-year-selector>

    <!--Month selection-->
    <ngx-month-selector *ngSwitchCase="CalendarSelectionMode.month"
                        [titles]="options.monthsTitle"
                        [selected]="selection"
                        [initial-year]="date.getFullYear()"
                        (select-month)="clickMonth($event)"
                        (click-title)="calendarSelectionMode = CalendarSelectionMode.year">
    </ngx-month-selector>

    <!--Week days selector - Date selection -->
    <ngx-day-selector *ngSwitchCase="CalendarSelectionMode.day"
                      [year]="date.getFullYear()"
                      [month]="date.getMonth()"
                      [days-title]="options.daysTitle"
                      [months-title]="options.monthsTitle"
                      [selected]="selection"
                      (click-title)="calendarSelectionMode = CalendarSelectionMode.month"
                      (select-date)="clickDate($event)">
    </ngx-day-selector>

    <!--Time selection-->
    <ngx-time-selector *ngSwitchCase="CalendarSelectionMode.time"
                       [initial]="selection"
                       (click-title)="calendarSelectionMode = CalendarSelectionMode.day">
    </ngx-time-selector>

  </div>
</div>


