.calendar {
  background-color: whitesmoke;
}

.calendar button{
  border-radius: 0;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  text-align: center;
}

.weekdays table {
  margin-bottom: 0 !important;
}

.weekdays td {
  display: inline-block;
  color: #666;
  text-align: center;
}

/* Days (1-31) */

.day, .year, .decade {
  border: none;
  margin: 0;
  text-align: center;
}

.day.mark, .year.mark, .decade.mark {
  font-weight: bold;
  background-color: #89C4F4;
}

td.day[disabled], td.year[disabled], td.decade[disabled] {
  background-color: #6C7A89;
  cursor: not-allowed !important;
}

td.day:not(disabled), td.year:not(disabled), td.year:not(disabled) {
  cursor: pointer;
}

/* Class for current date.*/
.day .today:not(disabled) {
  background-color: #337ab7;
  color: white;
  font-weight: bold;
}

/* Style of current year */
.year.current:not(disabled) {
  background-color: #337ab7;
  color: white;
  font-weight: bold;
}
