.calendar {
  background-color: whitesmoke;
}

.calendar button {
  border-radius: 0;
}

.calendar.dropdown-menu {
  padding: 0 !important;
  border-top: transparent;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  text-align: center;
}

.weekdays table {
  margin-bottom: 0 !important;
}

.weekdays td {
  display: inline-block;
  color: #666;
  text-align: center;
}


